In [1]:
import pandas as pd

In [2]:
bankData = pd.read_csv('https://raw.githubusercontent.com/fenago/datasets/main/bank-full.csv',sep=';')

In [3]:
bankData.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [6]:
bankData.sample(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
26334,33,blue-collar,single,secondary,no,2945,no,no,cellular,20,nov,91,1,-1,0,unknown,no
38138,23,admin.,single,secondary,no,738,yes,no,cellular,15,may,347,1,-1,0,unknown,no
30539,44,unemployed,divorced,tertiary,no,0,no,no,cellular,5,feb,1960,3,-1,0,unknown,yes
21130,51,management,divorced,tertiary,no,311,no,no,telephone,14,aug,122,2,-1,0,unknown,no
36545,41,blue-collar,married,primary,no,194,yes,no,cellular,12,may,201,1,-1,0,unknown,no

In [7]:
from sklearn.preprocessing import RobustScaler
rob_scaler = RobustScaler()

In [8]:
# Converting each of the columns to scaled version
bankData['ageScaled'] = rob_scaler.fit_transform(bankData['age'].values.reshape(-1,1))
bankData['balScaled'] = rob_scaler.fit_transform(bankData['balance'].values.reshape(-1,1))
bankData['durScaled'] = rob_scaler.fit_transform(bankData['duration'].values.reshape(-1,1))

In [11]:
bankData.drop(['age','balance','duration'], axis=1, inplace=True)

In [12]:
bankData.head()

,job,marital,education,default,housing,loan,contact,day,month,campaign,pdays,previous,poutcome,y,ageScaled,balScaled,durScaled
0,management,married,tertiary,no,yes,no,unknown,5,may,1,-1,0,unknown,no,1.266667,1.250000,0.375000
1,technician,single,secondary,no,yes,no,unknown,5,may,1,-1,0,unknown,no,0.333333,-0.308997,-0.134259
2,entrepreneur,married,secondary,no,yes,yes,unknown,5,may,1,-1,0,unknown,no,-0.400000,-0.328909,-0.481481
3,blue-collar,married,unknown,no,yes,no,unknown,5,may,1,-1,0,unknown,no,0.533333,0.780236,-0.407407
4,unknown,single,unknown,no,no,no,unknown,5,may,1,-1,0,unknown,no,-0.400000,-0.329646,0.083333

In [13]:
# Converting all the categorical variables to dummy variables
bankCat = pd.get_dummies(bankData[['job','marital','education','default','housing','loan','contact','month','poutcome']])

In [14]:
bankCat.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
2,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
3,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [15]:
# Seperating the numerical data
bankNum = bankData[['ageScaled','balScaled','day','durScaled','campaign','pdays','previous']]
bankNum.shape

(45211, 7)

In [16]:
bankNum.head()

   ageScaled  balScaled  day  durScaled  campaign  pdays  previous
0   1.266667   1.250000    5   0.375000         1     -1         0
1   0.333333  -0.308997    5  -0.134259         1     -1         0
2  -0.400000  -0.328909    5  -0.481481         1     -1         0
3   0.533333   0.780236    5  -0.407407         1     -1         0
4  -0.400000  -0.329646    5   0.083333         1     -1         0

In [17]:
# Merging with the original data frame
# Preparing the X variables
X = pd.concat([bankCat, bankNum], axis=1)
print(X.shape)
# Preparing the Y variable
Y = bankData['y']
print(Y.shape)
X.head()

(45211, 51)
(45211,)

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,poutcome_other,poutcome_success,poutcome_unknown,ageScaled,balScaled,day,durScaled,campaign,pdays,previous
0,0,0,0,0,1,0,0,0,0,0,...,0,0,1,1.266667,1.250000,5,0.375000,1,-1,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0.333333,-0.308997,5,-0.134259,1,-1,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,1,-0.400000,-0.328909,5,-0.481481,1,-1,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0.533333,0.780236,5,-0.407407,1,-1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,-0.400000,-0.329646,5,0.083333,1,-1,0

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
# Splitting the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, stratify=Y, random_state=123)
# Defining the LogisticRegression function
bankModel = LogisticRegression()
bankModel.fit(X_train, y_train)

/Users/zheng/tensorflow-test/env/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [22]:
pred = bankModel.predict(X_test)
print('Accuracy of Logistic regression model prediction on test set: {:.2f}'.format(bankModel.score(X_test, y_test)))

Accuracy of Logistic regression model prediction on test set: 0.90

In [23]:
# Confusion Matrix for the model
from sklearn.metrics import confusion_matrix
confusionMatrix = confusion_matrix(y_test, pred)
print(confusionMatrix)
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

[[11708   269]
 [ 1072   515]]
              precision    recall  f1-score   support

          no       0.92      0.98      0.95     11977
         yes       0.66      0.32      0.43      1587

    accuracy                           0.90     13564
   macro avg       0.79      0.65      0.69     13564
weighted avg       0.89      0.90      0.89     13564

In [24]:
print('Percentage of positive class :',(y_train[y_train=='yes'].value_counts()/len(y_train) ) * 100)
print('Percentage of negative class :',(y_train[y_train=='no'].value_counts()/len(y_train) ) * 100)

Percentage of positive class : yes    11.697791
Name: y, dtype: float64
Percentage of negative class : no    88.302209
Name: y, dtype: float64

#### Imbalanced data: 
- get more data
- under sample
- generate fake data
- hybrid of 2 & 3

## *Undersampling*

In [25]:
from sklearn.model_selection import train_test_split
# Splitting the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=123)

In [26]:
# let us first join the train_x and train_y for ease of operation
trainData = pd.concat([X_train,y_train],axis=1)
trainData.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,poutcome_success,poutcome_unknown,ageScaled,balScaled,day,durScaled,campaign,pdays,previous,y
19100,1,0,0,0,0,0,0,0,0,0,...,0,1,0.800000,-0.162979,5,0.236111,1,-1,0,no
37958,1,0,0,0,0,0,0,0,0,0,...,0,0,0.733333,-0.238938,14,0.865741,2,289,19,no
12451,0,1,0,0,0,0,0,0,0,0,...,0,1,0.000000,0.385693,1,1.347222,3,-1,0,no
18263,0,0,0,0,1,0,0,0,0,0,...,0,1,1.333333,-0.330383,31,-0.592593,8,-1,0,no
5128,0,0,0,0,0,0,0,1,0,0,...,0,1,-0.466667,-0.142330,21,-0.435185,2,-1,0,no

In [27]:
# Finding the indexes of the sample data set where the propensity is 'yes'
ind = trainData[trainData['y']=='yes'].index
print(len(ind))

3723

In [28]:
# Seperate the minority classes
minData = trainData.loc[ind]
print(minData.shape)

(3723, 52)

In [29]:
ind1 = trainData[trainData['y']=='no'].index
print(len(ind1))

27924

In [30]:
majData = trainData.loc[ind1]
print(majData.shape)
majData.head()

(27924, 52)

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,poutcome_success,poutcome_unknown,ageScaled,balScaled,day,durScaled,campaign,pdays,previous,y
19100,1,0,0,0,0,0,0,0,0,0,...,0,1,0.800000,-0.162979,5,0.236111,1,-1,0,no
37958,1,0,0,0,0,0,0,0,0,0,...,0,0,0.733333,-0.238938,14,0.865741,2,289,19,no
12451,0,1,0,0,0,0,0,0,0,0,...,0,1,0.000000,0.385693,1,1.347222,3,-1,0,no
18263,0,0,0,0,1,0,0,0,0,0,...,0,1,1.333333,-0.330383,31,-0.592593,8,-1,0,no
5128,0,0,0,0,0,0,0,1,0,0,...,0,1,-0.466667,-0.142330,21,-0.435185,2,-1,0,no

In [33]:
# random sample 3723 row of data for y=no
majSample = majData.sample(n=len(ind),random_state = 123)

In [34]:
print(majSample.shape)
majSample.head()

(3723, 52)

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,poutcome_success,poutcome_unknown,ageScaled,balScaled,day,durScaled,campaign,pdays,previous,y
17387,0,0,0,0,1,0,0,0,0,0,...,0,1,0.666667,0.752212,28,-0.425926,3,-1,0,no
34679,0,1,0,0,0,0,0,0,0,0,...,0,0,0.800000,0.086283,5,-0.106481,7,250,3,no
26572,1,0,0,0,0,0,0,0,0,0,...,0,1,0.466667,1.785398,20,-0.134259,2,-1,0,no
3280,0,0,0,0,0,1,0,0,0,0,...,0,1,1.200000,1.972714,15,-0.009259,1,-1,0,no
4434,0,0,0,0,1,0,0,0,0,0,...,0,1,-0.133333,2.011062,20,-0.055556,1,-1,0,no

In [35]:
# Concatinating both data sets and then shuffling the data set
balData = pd.concat([minData,majSample],axis = 0)
print('balanced data set shape',balData.shape)
# Shuffling the data set
from sklearn.utils import shuffle
balData = shuffle(balData)
balData.head()

balanced data set shape (7446, 52)

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,poutcome_success,poutcome_unknown,ageScaled,balScaled,day,durScaled,campaign,pdays,previous,y
14398,1,0,0,0,0,0,0,0,0,0,...,0,1,0.266667,-0.191003,14,4.083333,4,-1,0,yes
29493,0,0,0,0,1,0,0,0,0,0,...,0,1,-0.333333,-0.330383,3,0.328704,1,-1,0,yes
42567,0,0,0,0,0,0,0,0,0,1,...,0,1,-0.933333,1.550885,28,1.018519,3,-1,0,yes
40719,1,0,0,0,0,0,0,0,0,0,...,0,0,0.333333,0.800885,7,-0.064815,1,99,2,yes
27823,0,0,0,0,0,0,0,0,0,0,...,0,1,-0.333333,0.303097,28,3.004630,1,-1,0,yes

In [36]:
# Making the new X_train and y_train
X_trainNew = balData.iloc[:,0:51]
X_trainNew.head()
y_trainNew = balData['y']
y_trainNew.head()

14398    yes
29493    yes
42567    yes
40719    yes
27823    yes
Name: y, dtype: object

In [37]:
# Defining the LogisticRegression function
bankModel1 = LogisticRegression()
bankModel1.fit(X_trainNew, y_trainNew)
# Predicting on the test
pred = bankModel1.predict(X_test)
print('Accuracy of Logisticr regression model prediction on test set for balanced data set: {:.2f}'.format(bankModel1.score(X_test, y_test)))

Accuracy of Logisticr regression model prediction on test set for balanced data set: 0.83

/Users/zheng/tensorflow-test/env/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [38]:
# Confusion Matrix for the model
from sklearn.metrics import confusion_matrix
confusionMatrix = confusion_matrix(y_test, pred)
print(confusionMatrix)

[[9969 2029]
 [ 278 1288]]

In [39]:
# Confusion Matrix for the model
from sklearn.metrics import confusion_matrix
confusionMatrix = confusion_matrix(y_test, pred)
print(confusionMatrix)
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

[[9969 2029]
 [ 278 1288]]
              precision    recall  f1-score   support

          no       0.97      0.83      0.90     11998
         yes       0.39      0.82      0.53      1566

    accuracy                           0.83     13564
   macro avg       0.68      0.83      0.71     13564
weighted avg       0.91      0.83      0.85     13564

# *Overfitting* 
##### SMOTE ... MSMOTE

# *SMOTE*

In [40]:
!pip install smote-variants

Collecting smote-variants
  Downloading smote_variants-0.4.0-py3-none-any.whl (134 kB)
     |████████████████████████████████| 134 kB 504 kB/s eta 0:00:01
Requirement already satisfied: joblib in /Users/zheng/tensorflow-test/env/lib/python3.8/site-packages (from smote-variants) (1.1.0)
Requirement already satisfied: keras in /Users/zheng/tensorflow-test/env/lib/python3.8/site-packages (from smote-variants) (2.8.0)
Collecting statistics
  Downloading statistics-1.0.3.5.tar.gz (8.3 kB)
Collecting smote-variants
  Downloading smote_variants-0.3.13-py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 761 kB/s eta 0:00:01
  Downloading smote_variants-0.3.12-py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 1.3 MB/s eta 0:00:01
  Downloading smote_variants-0.3.11-py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 1.5 MB/s eta 0:00:01
  Downloading smote_variants-0.3.10-py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 1.1 MB/s eta 0:00:01
  Downloading smote_variants-0.3.6-py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 563 kB/s eta 0:00:01
  Downloading smote_variants-0.3.4-py3-none-any.whl (130 kB)
     |████████████████████████████████| 130 kB 377 kB/s eta 0:00:01
  Downloading smote_variants-0.3.3-py3-none-any.whl (130 kB)
     |████████████████████████████████| 130 kB 816 kB/s eta 0:00:01    |███████████████                 | 61 kB 676 kB/s eta 0:00:01
  Downloading smote_variants-0.3.1-py3-none-any.whl (126 kB)
     |████████████████████████████████| 126 kB 869 kB/s eta 0:00:01
  Downloading smote_variants-0.2.6-py3-none-any.whl (128 kB)
     |████████████████████████████████| 128 kB 873 kB/s eta 0:00:01
  Downloading smote_variants-0.2.5-py3-none-any.whl (128 kB)
     |████████████████████████████████| 128 kB 626 kB/s eta 0:00:01
  Downloading smote_variants-0.2.4-py3-none-any.whl (9.8 kB)
  Downloading smote_variants-0.2.2-py3-none-any.whl (9.8 kB)
  Downloading smote_variants-0.2.1-py3-none-any.whl (9.9 kB)
  Downloading smote_variants-0.2.0-py3-none-any.whl (9.9 kB)
Requirement already satisfied: scipy>=0.13.3 in /Users/zheng/tensorflow-test/env/lib/python3.8/site-packages (from smote-variants) (1.7.3)
  Downloading smote_variants-0.1.24-py3-none-any.whl (9.9 kB)
  Downloading smote_variants-0.1.23-py3-none-any.whl (9.9 kB)
  Downloading smote_variants-0.1.22-py3-none-any.whl (9.9 kB)
  Downloading smote_variants-0.1.21-py3-none-any.whl (9.9 kB)
  Downloading smote_variants-0.1.20-py3-none-any.whl (9.9 kB)
  Downloading smote_variants-0.1.19-py3-none-any.whl (9.9 kB)
  Downloading smote_variants-0.1.17-py3-none-any.whl (9.7 kB)
  Downloading smote_variants-0.1.15-py3-none-any.whl (9.6 kB)
  Downloading smote_variants-0.1.14-py3-none-any.whl (2.9 kB)
  Downloading smote_variants-0.1.13-py3-none-any.whl (3.4 kB)
  Downloading smote_variants-0.1.12-py3-none-any.whl (3.5 kB)
  Downloading smote_variants-0.1.11-py3-none-any.whl (9.9 kB)
  Downloading smote_variants-0.1.10-py3-none-any.whl (2.9 kB)
  Downloading smote_variants-0.1.9-py3-none-any.whl (3.1 kB)
  Downloading smote_variants-0.1.8-py3-none-any.whl (3.5 kB)
  Downloading smote_variants-0.1.7-py3-none-any.whl (9.8 kB)
  Downloading smote_variants-0.1.6-py3-none-any.whl (9.8 kB)
  Downloading smote_variants-0.1.5-py3-none-any.whl (9.8 kB)
  Downloading smote_variants-0.1.2-py3-none-any.whl (126 kB)
     |████████████████████████████████| 126 kB 749 kB/s eta 0:00:01
Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: numpy in /Users/zheng/tensorflow-test/env/lib/python3.8/site-packages (from smote-variants) (1.21.5)
Collecting minisom
  Downloading MiniSom-2.3.0.tar.gz (8.8 kB)
Requirement already satisfied: pandas in /Users/zheng/tensorflow-test/env/lib/python3.8/site-packages (from smote-variants) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/zheng/tensorflow-test/env/lib/python3.8/site-packages (from pandas->smote-variants) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/zheng/tensorflow-test/env/lib/python3.8/site-packages (from pandas->smote-variants) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/zheng/tensorflow-test/env/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas->smote-variants) (1.16.0)
Requirement already satisfied: scikit-learn in /Users/zheng/tensorflow-test/env/lib/python3.8/site-packages (from sklearn->smote-variants) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/zheng/tensorflow-test/env/lib/python3.8/site-packages (from scikit-learn->sklearn->smote-variants) (2.2.0)
Collecting docutils>=0.3
  Downloading docutils-0.18.1-py2.py3-none-any.whl (570 kB)
     |████████████████████████████████| 570 kB 568 kB/s eta 0:00:01
Building wheels for collected packages: minisom, sklearn, statistics
  Building wheel for minisom (setup.py) ... done
  Created wheel for minisom: filename=MiniSom-2.3.0-py3-none-any.whl size=9021 sha256=a6dcfee6559d1439cadd8e55bcca507eb732733f649e621eef54ca290dd32283
  Stored in directory: /Users/zheng/Library/Caches/pip/wheels/6d/4e/9e/a95c14a232a196c22d9c04b221ff5d25461a1a4c55339c61db
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=9e8ffe92481654a3be4de9c137b3c74325ccd9434b2286a1d36a1f979d6f3040
  Stored in directory: /Users/zheng/Library/Caches/pip/wheels/22/0b/40/fd3f795caaa1fb4c6cb738bc1f56100be1e57da95849bfc897
  Building wheel for statistics (setup.py) ... done
  Created wheel for statistics: filename=statistics-1.0.3.5-py3-none-any.whl size=7454 sha256=60e4a9bf68426776aea858bdce79b748c4774cd773a4c88a44a28aeff4d9d579
  Stored in directory: /Users/zheng/Library/Caches/pip/wheels/36/4b/c7/6af97584669b756c0d60c5ff05d5fb1f533a4e4d96e5ee92b9
Successfully built minisom sklearn statistics
Installing collected packages: docutils, statistics, sklearn, minisom, smote-variants
Successfully installed docutils-0.18.1 minisom-2.3.0 sklearn-0.0 smote-variants-0.1.2 statistics-1.0.3.5

In [42]:
# Splitting the data into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=0)
print("Before OverSampling count of yes: {}".format(sum(y_train=='yes')))
print("Before OverSampling count of no: {} \n".format(sum(y_train=='no')))

Before OverSampling count of yes: 3694
Before OverSampling count of no: 27953

In [43]:
import smote_variants as sv
import numpy as np
# Instantiating the SMOTE class
oversampler= sv.SMOTE()

In [44]:
# Creating new training set
X_train_us, y_train_us = oversampler.sample(np.array(X_train), np.array(y_train))

2022-05-23 09:30:01,659:INFO:SMOTE: Running sampling via ('SMOTE', "{'proportion': 1.0, 'n_neighbors': 5, 'n_jobs': 1}")

In [45]:
# Shape after oversampling
print('After OverSampling, the shape of train_X: {}'.format(X_train_us.shape))
print('After OverSampling, the shape of train_y: {} \n'.format(y_train_us.shape))
print("After OverSampling, counts of label 'Yes': {}".format(sum(y_train_us=='yes')))
print("After OverSampling, counts of label 'no': {}".format(sum(y_train_us=='no')))

After OverSampling, the shape of train_X: (55906, 51)
After OverSampling, the shape of train_y: (55906,)

After OverSampling, counts of label 'Yes': 27953
After OverSampling, counts of label 'no': 27953

In [46]:
# Training the model with Logistic regression model
# Defining the LogisticRegression function
bankModel2 = LogisticRegression()
bankModel2.fit(X_train_us, y_train_us)
# Predicting on the test set
pred = bankModel2.predict(X_test)
# Printing accuracy 
print('Accuracy of Logistic regression model prediction on test set for Smote balanced data set: {:.2f}'.format(bankModel2.score(X_test, y_test)))
# Confusion Matrix for the model
from sklearn.metrics import confusion_matrix
confusionMatrix = confusion_matrix(y_test, pred)
print(confusionMatrix)
# Classification report for the model
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

/Users/zheng/tensorflow-test/env/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/zheng/tensorflow-test/env/lib/python3.8/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(
/Users/zheng/tensorflow-test/env/lib/python3.8/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

Accuracy of Logistic regression model prediction on test set for Smote balanced data set: 0.84
[[10082  1887]
 [  327  1268]]
              precision    recall  f1-score   support

          no       0.97      0.84      0.90     11969
         yes       0.40      0.79      0.53      1595

    accuracy                           0.84     13564
   macro avg       0.69      0.82      0.72     13564
weighted avg       0.90      0.84      0.86     13564

# *MSMOTE*

In [47]:
# Splitting the data into train and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=0)
print("Before OverSampling count of yes: {}".format(sum(y_train=='yes')))
print("Before OverSampling count of no: {} \n".format(sum(y_train=='no')))

Before OverSampling count of yes: 3694
Before OverSampling count of no: 27953

In [48]:
import smote_variants as sv
import numpy as np
# Instantiating the SMOTE class
oversampler= sv.MSMOTE()
# Creating new training sts
X_train_us, y_train_us = oversampler.sample(np.array(X_train), np.array(y_train))
# Shape after oversampling
print('After OverSampling, the shape of train_X: {}'.format(X_train_us.shape))
print('After OverSampling, the shape of train_y: {} \n'.format(y_train_us.shape))
print("After OverSampling, counts of label 'Yes': {}".format(sum(y_train_us=='yes')))
print("After OverSampling, counts of label 'no': {}".format(sum(y_train_us=='no')))

2022-05-23 09:44:40,505:INFO:MSMOTE: Running sampling via ('MSMOTE', "{'proportion': 1.0, 'n_neighbors': 5, 'n_jobs': 1}")

After OverSampling, the shape of train_X: (55906, 51)
After OverSampling, the shape of train_y: (55906,)

After OverSampling, counts of label 'Yes': 27953
After OverSampling, counts of label 'no': 27953

In [49]:
# Fitting model
# Training the model with Logistic regression model
# Defining the LogisticRegression function
bankModel2 = LogisticRegression()
bankModel2.fit(X_train_us, y_train_us)
# Predicting on the test
pred = bankModel2.predict(X_test)
print('Accuracy of Logistic regression model prediction on test set for Smote balanced data set: {:.2f}'.format(bankModel2.score(X_test, y_test)))
# Confusion Matrix for the model
from sklearn.metrics import confusion_matrix
confusionMatrix = confusion_matrix(y_test, pred)
print(confusionMatrix)
from sklearn.metrics import classification_report
print(classification_report(y_test, pred))

/Users/zheng/tensorflow-test/env/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Users/zheng/tensorflow-test/env/lib/python3.8/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(
/Users/zheng/tensorflow-test/env/lib/python3.8/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

Accuracy of Logistic regression model prediction on test set for Smote balanced data set: 0.84
[[10115  1854]
 [  331  1264]]
              precision    recall  f1-score   support

          no       0.97      0.85      0.90     11969
         yes       0.41      0.79      0.54      1595

    accuracy                           0.84     13564
   macro avg       0.69      0.82      0.72     13564
weighted avg       0.90      0.84      0.86     13564